<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <div class='content'>

        <div>
            <h3></h3>
            <p></p>


        </div>
        <button id="quotebutton">Quote</button>
    </div>
    <div class='notcontent'>
    <form id="post" method="delete" action="/quotes/destroy">
        <label for="quote">Quote</label>
            <input id='quote' type="text" name="quote">
        <label for="author">Author</label>
            <input id='author' type="text" name="author">
        <label for="id">ID</label>
            <input id='id' type="text" name="ID">
        <button id='create'>Create</button>
        <button id='delete'>Delete</button>
    </form>
</div>
    <script src="js/main.js"></script>
</body>

</html>