body {
    background-color:#7D7ABC;
    font-family: 'Oswald', sans-serif;
}

.content{
    position: relative;
    height: 96vh;
}

button {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50vw;
    border: 5px solid #EF767A;
    background-color: #7D7ABC;
    color: #F3B61F;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px;
    outline-color: #23F0C7;
}

h3{
    color: #F3B61F;
    font-style: italic;
    font-size: 90px;
    text-align: right;
    padding-bottom: 0px;
    top:0;
    padding-left: 5%;
    padding-right: 2%;
    margin-top:0px;
    margin-bottom: 0px;
    line-height: 90px;
}
p{
    margin-top: 35px;
    color:  #23F0C7;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 0px;
    text-align: center;
    font-weight: light;
}
/* button{
    background-color:  #EF767A;
    width: 8%;
    padding: 1%;
    border-radius: 5%;
    border: 5px, solid;
    color: #F3B61F;
    font-size: 16px;
    font-weight: bold;
    outline-color: #23F0C7;
} */