body {
    background-color:#7D7ABC;
    font-family: 'Oswald', sans-serif;
}
h3{
    color: #F3B61F;
    font-style: italic;
    font-size: 60px;
    text-align: right;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 60px;
}
p{
    color:  #23F0C7;
    font-size: 25px;
    padding: 5%;
    text-align: center;
    font-weight: light;
}
button{
    background-color:  #EF767A;
    width: 7%;
    padding: 1%;
    border-radius: 5%;
    margin: auto;
    display: block;
    border-color: #F3B61F;
    border: 5px, solid;
    color: #F3B61F;
    font-size: 16px;
    outline-color: #23F0C7;
    position: fixed;
}